name: Build & Push Docker Image

on:
  push:
    branches:
      - develop

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write   # Required to push to GHCR

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./labass_patient
          file: ./labass_patient/dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/nextjs_patient:develop
            ghcr.io/${{ github.repository_owner }}/nextjs_patient:${{ github.sha }}
